* {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

html,
body
#nuxt {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #222222;
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f6;
    border-radius: 5px;
    z-index: 99999;
}

*::-webkit-scrollbar-thumb {
    background-color: #f7e046;
    border-radius: 5px;
}